# Additional database drivers
# MS SQL Server
pyodbc
pymssql

# Snowflake
snowflake-sqlalchemy

# MySQL/MariaDB (using PyMySQL instead of mysqlclient to avoid compilation issues)
PyMySQL

# Amazon Redshift
sqlalchemy-redshift

# Google BigQuery
pybigquery

# ClickHouse
clickhouse-sqlalchemy

# Elasticsearch
elasticsearch-dbapi

# Apache Druid
pydruid

# Databricks
databricks-sql-connector